<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col items-center justify-center gap-5">
    <div class="rounded-lg w-full p-8 bg-white shadow-lg">
      <div formArrayName="questions">
        <ng-container
          *ngFor="
            let control of questionsFormArray.controls;
            trackBy: trackByFunction;
            let i = index
          "
          [formGroupName]="i"
        >
          <div class="mb-6 p-6 border rounded-lg border-gray-300">
            <div class="flex justify-between p-3">
              <span class="text-lg text-gray-500">Questão {{ i + 1 }}</span>
              <button
                mat-icon-button
                color="primary"
                aria-label="botão de edição"
                (click)="editQuestion(control)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <p
              *ngIf="!control.get('editable')?.value"
              class="text-lg text-gray-500 mb-3"
            >
              {{ control.get("context")?.value }}
            </p>
            <p *ngIf="control.get('editable')?.value; else showContext">
              <mat-form-field class="w-full" appearance="outline">
                <input
                  matInput
                  formControlName="context"
                  placeholder="Edite o contexto"
                />
              </mat-form-field>
            </p>
            <ng-template #showContext>
              <p>{{ control.get("context")?.value }}</p>
            </ng-template>
            <p
              *ngIf="control.get('editable')?.value; else showQuestion"
              class="text-lg text-gray-500 mb-3"
            >
              <mat-form-field class="w-full" appearance="outline">
                <input
                  matInput
                  formControlName="question"
                  placeholder="Edite o contexto"
                />
              </mat-form-field>
            </p>
            <ng-template #showQuestion>
              <p>{{ control.get("question")?.value }}</p>
            </ng-template>
            <div class="grid gap-2" formArrayName="options">
              <div
                *ngFor="
                  let option of getOptions(control.get('options')).controls;
                  let j = index
                "
                [formGroupName]="j"
                class="flex flex-row items-center gap-5"
              >
                <!-- <span
                  [ngClass]="{
                    'correct-answer': control.get('answer')?.value === option
                  }"
                  class="text-gray-500 font-medium text-center p-2 bg-gray-200 w-8 rounded"
                  >{{ letters[j] }}</span
                > -->
                <mat-form-field class="w-full" appearance="outline">
                  <input
                    matInput
                    placeholder="Edite a opção"
                    formControlName="description"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div
            *ngIf="control.get('justifications')?.value.length > 0"
            class="grid gap-2 pt-5"
          >
            <span class="text-lg text-gray-500 mb-3">Justificativas</span>
            <div
              *ngFor="
                let justification of control.get('justifications')?.value;
                let i = index
              "
              class="flex flex-row items-center gap-5"
            >
              <span
                class="text-gray-500 font-medium text-center p-2 bg-gray-200 w-8 rounded"
                >{{ letters[i] }}</span
              >
              {{ justification }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <button type="submit">Salvar</button>
</form>
